
* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code" !important;
  box-sizing: border-box;
}

body {
  background: #333333;
}

img {
  width: 100%;
}

.navigationIcon svg {
  font-size: 40px;
}

.navigationText {
  font-size: 12px;
}

.navlinkSideMenuActive {
  color: red;
}

.layout-main-flex {
  display: flex;
  justify-content: space-between;
}

.layout-nav {
  max-width: 8%;
}

.layout-main {
  width: 91%;
  margin-top: 85px;
}

/* Homepage */

.homepageSingle {
  text-align: center;
  margin-bottom: 15px;
}

.loginPageMain {
  padding: 30px;
  background: #1c1d25;
  width: 30%;
  margin: 0 auto;
  border-radius: 10px;
}

.loginPageMain > div {
  margin-bottom: 20px;
}

.loginPageLogoAndTitle > div,
.loginPageLogoAndTitle {
  text-align: center;
}

.loginPageLogoAndTitle {
  margin-top: -70px;
}

.loginFormRadio span svg {
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 1600px) {
  .navigationIcon svg {
    font-size: 50px;
  }

  .navigationText {
    font-size: 16px;
  }

  .loginPageMain {
    padding: 40px;
    width: 30%;
  }
  .loginPageLogoAndTitle {
    margin-top: -90px;
  }
}
